h1 { font-size: 4.236em }
h2 { font-size: 2.618em }
h3 { font-size: 1.618em }
h4 { font-size: 1em }

header{
  background-image: url("https://www.peru.travel/perutherichestcountry/usa/assets/images/facebook_share_1200x630.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 15%;
  opacity: 0.8;
}


header h1, header h2, header h3,header h4{
  text-align: center;
  color: white;
}

section h2{
  text-align: center;
}

body{
  background-color: #FED5CE;
}
button{
  background-color: #4CAF50;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 42.5%;
  cursor: pointer;
  margin-top: 5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
section, footer{
  margin-top: 0.2%;
}
footer{
  background-color: #333;
  padding: 2%;
}

.container{
  background-color: gray;
  padding: 5%;
}
.container1{
  margin-top: 10%;
  background-color: white;
  padding: 10%;
}

p{
  line-height: 1.5;
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 5%;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20%;
  font-size: 30px;
  text-align: center;
}
